.snippets-list .likes-wrap {
    text-align: right;
    min-width: 100px;
}

.snippets-list .snippet-action-btn {
    position: relative;
    z-index: 10;
}

#snippet-cards {
    overflow-y: auto;
    max-height: 35rem;
}