#snippet-detail {
    
}

#snippet-title {
    color: #0097a7;
    
}

#snippet-description {
    color: #0097a7;
    font-size: 1em;
}

#snippet-card {
    
    background-color: white;     
}

#comments {
    overflow-y: scroll;
    color: #0097a7;
    /* height: ; */
}

