.container {
    margin: 0px;
    padding: 0px; 
}

.pageHeader {
    display: flex;
    justify-content: space-between;
}

textarea.snippet-code-textarea {
    min-height: calc(9em + .75rem + 2px);
}
