
.navbar{
height: 60px;
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
position: sticky;
top: 0;
z-index: 999; 

}

.nav-link{
    height: 40px;
    color: #ffab40!important;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 0.5rem;
    height: 100%;
    font-size: 18px;
    padding-right: 10px;
}

.nav-link:hover {
    color: #ffab40!important;
    border-bottom: 1.5px solid #ffab40;
    transition: all 0.2s ease-out;
  }

.navbar-toggler{
    color: #ffab40; 
    
  }

 
.navbar-toggler-icon{
  background-color:  #ffab40; 
  color: white;
    
  } 
