body {
    background-color: #001633;
}

.header {
    border-bottom: 1px solid #ffab40;
}

#logo {
    width: 400px;
    height: auto;
    margin-left: 2%;
    align-self: center;
}

@media (max-width: 767px) {
    #logo {
        width: 200px;
        height: auto;
    }
}
