
.header1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #85d5e6, 0 0 5px #0097a7;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
  }

  .description{
    width: 50%;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 15px;
    color: white;
    padding-bottom: 50px;
    margin: auto;

  }

  @media (max-width:767px){
    .header1 {
     font-size: 15px; 
     margin:auto;
     width: 50%;
     padding-bottom: 15px;
    }
   }

   @media (max-width:767px){
    .description {
     font-size: 14px; 
     margin:auto;
     width: 50%;
    }
   }

 