
.header1 {
    /* color: white; */
    color: #0097a7;
    text-shadow: 1px 1px 1px black, 0 0 4px #85d5e6, 0 0 1px #0097a7;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 35px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

  .description{
    width: 50%;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 15px;
    padding-bottom: 50px;
    font-size: 25px;
    /* color: white; */
    color: #85d5e6;
    margin: auto;

  }

  @media (max-width:767px){
    .header1 {
     font-size: 15px; 
     margin:auto;
     width: 50%;
     padding-bottom: 15px;
    }
   }

   @media (max-width:767px){
    .description {
     font-size: 14px; 
     margin:auto;
     width: 50%;
    }
   }

 